<div class="join-modal">
  <form name="joinForm" novalidate class="joinForm">
    <input name="name" id="userName" type='text' maxLength="10" placeholder="Name" required ng-model='name' ui-validate="{inUse : 'validateName($value)' }"><br>
    <span ng-show="joinForm.name.$error.inUse">This name is already in use!</span><br>
    <button ng-disabled="joinForm.name.$error.inUse || joinForm.room.$error.notOccupied || !name" class="btn btn-large btn-success" ng-click="update(name, room)">Enter Room</button>
  </form>
</div>
