<div id="admin_header">
  <a class="btn btn-medium btn-success">Preferences</a>
  <h4 id="user-count">Users: {{members}}</h4>
</div>
<div id="talk_requests">
  <h3 id="request_list_header">Talk Requests</h3>
  <button ng-repeat='user in talkRequests' ng-click="fillRequest(user.name)" class="btn btn-large btn-block btn-primary" type="button">{{user.name}}</button>
</div>

<!-- Testing DIV -->

<div id='container'>

  <div id='videos'>
    <video id='localVideo' autoplay muted></video>
    <video id='remoteVideo' autoplay></video>
  </div>

</div>


<!-- Testing DIV -->