<div class="request-list-header">Talk Requests</div>
<div class="request-list">
  <div ng-show="queueStatus" class="request" ng-repeat="user in talkRequests" ng-click="fillRequest(user.name)">
      <span class="request-name">{{user.name}}</span>
      <span class="request-karma">{{user.karma}}</span>
  </div>
</div>
<div class="toggle-queue-button-home" ng-switch on="queueStatus">
  <div class="toggle-queue-button" ng-switch-when="false" ng-click="openQueue()"><div class="toggle-queue-words">OPEN QUEUE</div></div>
  <div class="toggle-queue-button" ng-switch-when="true" ng-click="closeQueue()"><div class="toggle-queue-words">CLOSE QUEUE</div></div>
</div>
