<div class="hero-unit">
  <form name="joinForm" novalidate class="joinForm">
    <input name="name" id="userName" type='text' maxLength="10" placeholder="Name" required ng-model='name' ui-validate="{inUse : 'validateName($value)' }"><br>
    <span ng-show="joinForm.name.$error.inUse">Invalid Name, this name may already be in use.</span><br>
    <button ng-disabled="joinForm.name.$error.inUse || joinForm.room.$error.notOccupied" class="btn btn-large btn-success" ng-click="update(name, room)">Enter Room</button>
  </form>
</div>
