<div class="question-container">
  <div class="questions-list">
    <div class="question" ng-repeat="request in questions">
      <span class="question-name">{{request.user.name}}</span>
      <span class="question-message">{{request.question.message}}</span>
      <span class="question-karma">{{request.question.upvotes}}</span>
      <span class="up-vote-button">
        <a ng-show="upVoted[request.key]" ng-click="vote(request)"><img src="./../images/upvote.png"></a>
        <a ng-show="!upVoted[request.key]" ng-click="vote(request)"><img src="./../images/downvote.png"></a>
      </span>
    </div>
  </div>
  <form>
    <div class="question-field"><input class="question-field-input"type="text" ng-model="question" maxLength="70" placeholder="Questions?"><input></div>
    <button id="message_submit" ng-click="submitQuestion()">Submit</button>
  </form>
</div>