<div id="transistion-screen">
    <div class="slideScreen">
      <span class="quetionPage">
        <div class="hero-unit">
          <div class="topControlBar">
            <div class="span1 pull-left">
              <a class="btn btn-primary" ng-click="leaveRoom()">
                <span><strong>Leave Room</strong></span>
              </a>
            </div>
        </div>
          <div id="message_center">
            <div id="alert_message_container">
              <p id="alert_message">{{updateMessage}}</p>
            </div>
          </div>
          <questions ng-controller="QuestionsCtrl"></questions>
          <button ng-click="next()" class="btn btn-large btn-block btn-primary talkNavbtn" type="button">Request to Speak</button>
        </div> <!-- Hero Close -->
      </span>
      <span class="talkPage">
        <div class="hero-unit">
          <div id='media' ng-class="{true:'showMedia', false:'hideMedia', '':'hidden'}[sentRequest]">
            <!-- <p><canvas style="background: white;"></canvas></p> -->
            <video id='localVideo' autoplay muted></video>
          </div>

          <!-- ng-show="canTalk && sentQuestion" -->
          <div id="request_button_container_wrapper">
            <div id="request_button_container" ng-switch on="sentAudioRequest" >
              <div id="container_button" ng-switch-when="false" hm-tap="requestAudio()">
                <div id="hole">
                  <div id="button">
                    <div id="mic"></div>
                  </div>
                </div>
              </div>
              <div id="container_button" ng-switch-when="true" hm-tap="cancelTalkRequest()">
                <div id="hole">
                  <div id="button" ng-class="{on: liveAudioRequest==true}">
                    <div id="mic" ng-class="{blinkRequest:pendingRequest==true,pendingMic:pendingRequest==true}"></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="request_button_container" ng-switch on="sentVideoRequest" >
              <div id="container_button" ng-switch-when="false" hm-tap="requestVideo()">
                <div id="hole">
                  <div id="button">
                    <div id="video"></div>
                  </div>
                </div>
              </div>
              <div id="container_button" ng-switch-when="true" hm-tap="cancelTalkRequest()">
                <div id="hole">
                  <div id="button" ng-class="{on: liveAudioRequest==true}">
                    <div id="video" ng-class="{blinkRequest:pendingRequest==true,pendingVideo:pendingRequest==true}"></div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <button ng-click="prev()" class="btn btn-large btn-block btn-primary talkNavbtn" type="button">Ask a Questions</button>
        </div> <!-- Hero Close -->
      </span>
    </div>
</div>
